data/*
!data/.gitkeep
cloud/cloud-data/*
!cloud/cloud-data/.gitkeep
*.pyc
*.pyo
__pycache__/
cloud/result-data/voter-attendence/*
cloud/result-data/constituency-chains/*
!cloud/result-data/voter-attendence/.gitkeep
!cloud/result-data/constituency-chains/.gitkeep