<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting Management - C_Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <h1>Constituency Profile</h1>
                </div>
            </div>
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Node</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/network">Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/profile">Constituency Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row my-3">
                <div class="col">
                    <button class="btn btn-primary" @click="onLoadData">Load Constituency Data</button>
                </div>
            </div>
            <hr>
            <div class="row my-3">
                <div class="col-4">
                    <p>Constituency Id : {{ c_id }}</p>
                    <p>Constituency City : {{ c_name }}</p>
                    <p>Constituency State : {{ c_state }}</p>
                </div>
                <div class="col-4 offset-4">
                    <p>Date : {{ date }}</p>
                    <p>Total Contesting Candidates : {{ totalCanditates }}</p>
                    <p>Total Eligible Voters : {{ totalVoters }}</p>
                </div>
            </div>
            <hr>
            <div class="row my-3">
                <div class="col">
                    <ul class="list-group">
                        <!-- FOR REFERENCE -->
                        <!-- v-bind:style="{ backgroundColor: candidate.PartyColor, color: '#FFFFFF' }" -->
                        <li v-for="candidate in candidates"
                            class="list-group-item list-group-item-action">
                            ({{candidate.CandidateId}}) {{ candidate.CandidateName }} <span style="float: right">({{candidate.PartyId}}) {{candidate.PartyName}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var today = new Date();
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        new Vue({
            el: '#app',
            data: {
                c_id: null,
                c_name: null,
                c_state: null,
                totalCanditates: null,
                totalVoters: null,
                date: today.getDate()+' '+months[today.getMonth()]+' '+today.getFullYear(),
                candidates: [],
                voters: [],
                error: null,
                success: null
            },
            methods: {
                onLoadData: function() {
                    // Load all data from the locally downloded store
                    var vm = this
                    axios.post('/profile')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Fetched data successfully.';
                            data = JSON.parse(response.data.all_data)[0];
                            vm.c_id = data['ConstId'];
                            vm.c_name = data['ConstName']
                            vm.c_state = data['ConstState']
                            vm.totalCanditates = data['NumberOfContestingCandidates']
                            vm.totalVoters = data['NumberOfEligibleVoters']
                            vm.candidates = data['Candidates']
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        })
                }
            }
        })
    </script>
</body>

</html>