<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
        }

        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 51px;
            height: 51px;
            margin: 6px;
            border: 6px solid #fa923f;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fa923f transparent transparent transparent;
        }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

        .hide {
            display: none;
        }

        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <h1 class="headings h-node">Welcome to MiniBlock</h1>
                    <h1 class="headings h-network hide">Manage your Network</h1>
                    <h1 class="headings h-profile hide">Constituency Profile</h1>
                </div>
                <div class="col text-right">
                    <h1 style="text-align: right">Node : <span id="port"></span></h1>
                </div>
            </div>
            <!-- Main Tabs -->
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="node main-tab-navs nav-link active" onclick="changeTab('node')">Node</a>
                        </li>
                        <li class="nav-item">
                            <a class="network main-tab-navs nav-link" onclick="changeTab('network')">Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="profile main-tab-navs nav-link" onclick="changeTab('profile')">Constituency Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>


    <div class='main-tabs' id="node">
        <div class="container">
            <!-- Success and Error Alerts -->
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
    
            <!-- Showing Keys for Debug -->
            <div class="row collapse" id="showkeys">
                <div class="col">
                    <strong><label for="pubKey">Public Key : </label></strong>
                    <textarea id='pubKey' class='form-control' disabled>{{node.public_key}}</textarea> <br>
                    <strong><label for="pvtKey">Private Key : </label></strong>
                    <textarea id='pvtKey' class='form-control' disabled>{{node.private_key}}</textarea>
                </div>
            </div>
            <hr v-if="showKeys">
    
            <!-- Buttons & Total Votes -->
            <div v-if="node" class="row">
                <div class="col">
                    <button v-if="showKeys" class="btn btn-warning" data-toggle="collapse" data-target="#showkeys" @click="showKeys = false">
                        Hide Keys
                    </button>
                    <button v-if="!showKeys" class="btn btn-warning" data-toggle="collapse" data-target="#showkeys" @click="showKeys = true">
                        Show Keys
                    </button>
                    <button class="btn btn-info" onclick="beginVoting()" :disabled='votingClosed'>
                        Begin Voting
                    </button>
                    <button class="btn btn-danger" onclick="closeVotingWindows();" @click="votingClosed = true;">
                        End Voting
                    </button>
                    <button v-if="votingClosed" class="btn btn-success"  @click="computeResults">
                        Results
                    </button>
                </div>
                <div class="col text-right">
                    <h2>
                        <button v-if='mining === false' class="btn btn-success" @click="mining = true;mineBlocks();">Start Mining</button>
                        <button v-if='mining' class="btn btn-success" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Mining in {{ seconds }} seconds..
                        </button>
                        <button v-if='mining' class="btn btn-danger" @click="mining = false;" onclick="clearInterval(mineClock);clearInterval(mineTimer);">Stop Mining</button>
                        <button class="btn btn-warning" @click="resolveConflicts">Resolve Conflicts</button>
                        Total Votes: {{ votes }}
                    </h2>
                </div>
            </div>
            <hr>
            <!-- Chain/Tx Nav -->
            <div class="row mb-2">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'chain'}" @click="view ='chain';loadBlockChain();">Blockchain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'tx'}" @click="view = 'tx';loadBlockChain();">Open Transactions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Loading Active View -->
            <div class="row">
                <div class="col">
                    <div v-if="dataLoading" class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div v-if="!dataLoading" class="accordion">
                        <div class="card" v-for="(data, index) in loadedData">
                            <div v-if="view === 'chain'" class="card-header">
                                <h5 class="mb-0" data-toggle="collapse" :data-target="'#colbc' + data.index">
                                    <button class="btn btn-link" type="button">
                                        Block #{{ data.index }}
                                    </button>
                                </h5>
                            </div>
                            <div v-if="view === 'chain'" class="collapse" :id="'colbc' + data.index">
                                <div class="card-body">
                                    <p>Previous Hash: {{ data.previous_hash }}</p>
                                    <div class="list-group">
                                        <div v-for="tx in data.transactions" class="list-group-item flex-column align-items-start">
                                            <div>Node Id: {{ tx.nodeId }}</div>
                                            <div>Candidate Id: {{ tx.candidateId }}</div>
                                            <div>Party Id: {{ tx.partyId }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div v-if="view === 'tx'" class="card-header">
                                <h5 class="mb-0" data-toggle="collapse" :data-target="'#coltx' + data.index">
                                    <button class="btn btn-link" type="button">
                                        Transaction #{{ index }}
                                    </button>
                                </h5>
                            </div>
                            <div v-if="view === 'tx'" class="collapse" :id="'coltx' + data.index">
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item flex-column align-items-start">
                                            <div>Node Id: {{ data.nodeId }}</div>
                                            <div>Candidate Id: {{ data.candidateId }}</div>
                                            <div>Party Id: {{ data.partyId }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='main-tabs hide' id="network">
        <div class="container">
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
            <div class="row">
                <div class="col">
                    <form @submit.prevent="addPeer">
                        <div class="form-group">
                            <label for="peer-url">Peer URL</label>
                            <input v-model="newPeerUrl" type="text" class="form-control" id="peer-url" placeholder="localhost:0000">
                        </div>
                        <button :disabled="newPeerUrl.trim() === ''" type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <button 
                            v-for="peer in peers"
                            style="cursor: pointer;" 
                            class="list-group-item list-group-item-action" 
                            @click="removePeer(peer)">
                            {{ peer }} (click to remove node)
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class='main-tabs hide' id="profile">
        <div class="container">
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <p>Constituency Id : {{ c_id }}</p>
                    <p>Constituency City : {{ c_name }}</p>
                    <p>Constituency State : {{ c_state }}</p>
                </div>
                <div class="col-4 offset-4">
                    <p>Date : {{ date }}</p>
                    <p>Total Contesting Candidates : {{ totalCanditates }}</p>
                    <p>Total Eligible Voters : {{ totalVoters }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'candidates'}" href="#" @click="view ='candidates';">Candidates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'voters'}" href="#" @click="view = 'voters';">Voters</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <div v-if="view === 'candidates'">
                        <h2 class="my-3">Candidates</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sr no.</th>
                                    <th scope="col">Candidate Id</th>
                                    <th scope="col">Candidate Name</th>
                                    <th scope="col">Party Name</th>
                                    <th scope="col">Party Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(candidate,index) in candidates">
                                    <th scope="row">{{index + 1}}</th>
                                    <td>{{ candidate.CandidateId }}</td>
                                    <td>{{ candidate.CandidateName }}</td>
                                    <td>{{ candidate.PartyName }}</td>
                                    <td>{{ candidate.PartyId }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-if="view === 'voters'">
                        <h2 class="my-3">
                            Voters
                            <button class="btn btn-sm btn-primary" @click="loadConstituencyData">Refresh</button>
                        </h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sr no.</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Biometrics</th>
                                    <th scope="col">Attendence</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(voter,index) in voters">
                                    <th scope="row">{{index + 1}}</th>
                                    <td>{{ voter.VoterId }}</td>
                                    <td>{{ voter.VoterName }}</td>
                                    <td>{{ voter.VoterGender }}</td>
                                    <td>{{ voter.VoterBiometric }}</td>
                                    <td>{{ voter.VoterAttendence }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var mineClock;
        var mineTimer;
        var votingWindows = [];
        var today = new Date();
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var node = new Vue({
            el: '#node',
            data: {
                blockchain: [],
                openTransactions: [],
                node: null,
                view: 'chain',
                nodeLoading: false,
                txLoading: false,
                dataLoading: false,
                error: null,
                success: null,
                votes: 0,
                showKeys: false,
                mining: false,
                seconds: 60,
                votingClosed: false
            },
            computed: {
                loadedData: function () {
                    if (this.view === 'chain') {
                        return this.blockchain;
                    } else {
                        return this.openTransactions
                    }
                }
            },
            methods: {
                createKeys: function () {
                    var vm = this
                    vm.nodeLoading = true;
                    axios.post('/node')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'New Keys Created!'
                            vm.node = {
                                public_key: response.data.public_key,
                                private_key: response.data.private_key,
                                node_id: response.data.node_id
                            }
                            vm.votes = response.data.votes;
                            vm.nodeLoading = false;
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                            vm.node = null;
                            vm.nodeLoading = false;
                        });
                },
                loadKeys: function () {
                    var vm = this;
                    this.nodeLoading = true;
                    axios.get('/node')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Keys Loaded!'
                            vm.node = {
                                public_key: response.data.public_key,
                                private_key: response.data.private_key,
                                node_id: response.data.node_id
                            }
                            vm.votes = response.data.votes;
                            vm.nodeLoading = false;
                            setInterval(() => {
                                vm.success = null
                            }, 3000);
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                            vm.node = null;
                            vm.nodeLoading = false;
                            vm.createKeys();
                        });
                },
                mineBlocks: function() {
                    var vm = this
                    mineTimer = setInterval(function(){
                        axios.post('/mine')
                        .then(function(response){
                            vm.error = null;
                            vm.success = response.data.message;
                            vm.votes = response.data.votes;
                            vm.seconds = 60;
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                    },60000);
                    mineClock = setInterval(function(){
                        vm.seconds = vm.seconds - 1;
                        if(vm.seconds <= 0){
                            vm.seconds = 0;
                        }       
                    },1000);
                },
                resolveConflicts: function(){
                    var vm = this
                    axios.post('/resolve-conflicts')
                    .then(function(response){
                        vm.error = null;
                        vm.success = response.data.message;
                    })
                    .catch(function(error){
                        vm.success = null;
                        vm.error = error.response.data.message;
                    });
                },
                loadBlockChain: function () {
                    if (this.view === 'chain') {
                        // Load blockchain data
                        var vm = this
                        this.dataLoading = true;
                        axios.get('/chain')
                            .then(function(response){
                                vm.blockchain = response.data;
                                vm.dataLoading = false;
                            })
                            .catch(function(error){
                                vm.dataLoading = false;
                                vm.error = 'Something went wrong.';
                            });
                    } else {
                        // Load transaction data
                        var vm = this
                        axios.get('/transactions')
                            .then(function(response){
                                vm.openTransactions = response.data;
                                vm.dataLoading = false;
                            })
                            .catch(function(error){
                                vm.dataLoading = false;
                                vm.error = 'Something went wrong.';
                            });
                    }
                },
                computeResults: function () {
                    var vm = this
                    axios.post('/upload-attendence')
                        .then(function(response){
                            console.log(response);
                            vm.error = null;
                            vm.success = response.data.serverResponse;
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                }
            }
        });

        var network = new Vue({
            el: '#network',
            data: {
                peers: [],
                newPeerUrl: '',
                error: null,
                success: null
            },
            methods: {
                addPeer: function() {
                    var vm = this
                    axios.post('/peer', {peer: this.newPeerUrl})
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Peer added successfully.';
                            vm.peers = response.data.all_peers;
                            setInterval(() => {
                                wm.success = null;
                            }, 3000);
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                },
                loadPeers: function() {
                    var vm = this
                    axios.get('/peer')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Fetched peers successfully.';
                            vm.peers = response.data.all_peers;
                            setInterval(() => {
                                wm.success = null;
                            }, 3000);
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        })
                },
                removePeer: function(peer_url) {
                    var vm = this
                    axios.delete('/peer/' + peer_url)
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Deleted peer successfully.';
                            vm.peers = response.data.all_peers
                            setInterval(() => {
                                wm.success = null;
                            }, 3000);
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        })
                }
            }
        });

        var profile = new Vue({
            el: '#profile',
            data: {
                c_id: null,
                c_name: null,
                c_state: null,
                totalCanditates: null,
                totalVoters: null,
                date: today.getDate()+' '+months[today.getMonth()]+' '+today.getFullYear(),
                candidates: [],
                voters: [],
                view: 'candidates',
                error: null,
                success: null
            },
            methods: {
                loadConstituencyData: function() {
                    // Load all data from the locally downloded store
                    var vm = this
                    axios.get('/data')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Fetched data successfully.';
                            data = JSON.parse(response.data.constituencyData);
                            vm.c_id = data['ConstId'];
                            vm.c_name = data['ConstName']
                            vm.c_state = data['ConstState']
                            vm.totalCanditates = data['NumberOfContestingCandidates']
                            vm.totalVoters = data['NumberOfEligibleVoters']
                            vm.candidates = data['Candidates']
                            vm.voters = data['Voters']
                            setTimeout(function(){vm.success = null},3000)
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        })
                }
            }
        });

        function beginVoting() {
            var url = window.location.href;
            votingWindows.push(window.open(url + 'vote', '_blank'));
        }
        function closeVotingWindows() {
            for (let w = 0; w < votingWindows.length; w++) {
                votingWindows[w].close();
            }
        }

        function changeTab(tabName) {
            $('.main-tab-navs').removeClass('active');
            $('.'+tabName).addClass('active');
            $('.main-tabs').addClass('hide');
            $('#'+tabName).removeClass('hide');
            $('.headings').addClass('hide');
            $('.h-'+tabName).removeClass('hide');
        }

        node.loadKeys();
        node.loadBlockChain();
        network.loadPeers();
        profile.loadConstituencyData();
        $('#port').text(document.location.href.slice(-5,-1));
    </script>
</body>
</html>