<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting Management</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
        }

        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 51px;
            height: 51px;
            margin: 6px;
            border: 6px solid #fa923f;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fa923f transparent transparent transparent;
        }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- Main Header -->
            <div class="row my-3">
                <div class="col">
                    <h1>Welcome to MiniBlock</h1>
                </div>
                <div class="col text-right">
                    <h1 style="text-align: right">Node : {{node.node_id}}</h1>
                </div>
            </div>

            <!-- Main Navigation Pills -->
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Node</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/network">Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Constituency Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- Success and Error Alerts -->
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>

            <!-- Showing Keys for Debug -->
            <div class="row collapse" id="showkeys">
                <div class="col">
                    <strong><label for="pubKey">Public Key : </label></strong>
                    <textarea id='pubKey' class='form-control' disabled>{{node.public_key}}</textarea> <br>
                    <strong><label for="pvtKey">Private Key : </label></strong>
                    <textarea id='pvtKey' class='form-control' disabled>{{node.private_key}}</textarea>
                </div>
            </div>
            <hr v-if="showKeys">

            <!-- Buttons & Total Votes -->
            <div v-if="node" class="row">
                <div class="col">
                    <button v-if="showKeys" class="btn btn-warning" data-toggle="collapse" data-target="#showkeys" @click="showKeys = false">
                        Hide Keys
                    </button>
                    <button v-if="!showKeys" class="btn btn-warning" data-toggle="collapse" data-target="#showkeys" @click="showKeys = true">
                        Show Keys
                    </button>
                    <button class="btn btn-info" onclick="beginVoting()" :disabled='votingClosed'>
                        Begin Voting
                    </button>
                    <button class="btn btn-danger" onclick="closeVotingWindows();" @click="votingClosed = true;">
                        End Voting
                    </button>
                    <button v-if="votingClosed" class="btn btn-success"  @click="onResults">
                        Results
                    </button>
                </div>
                <div class="col text-right">
                    <h2>
                        <button v-if='mining === false' class="btn btn-success" @click="mining = true;onMine();">Start Mining</button>
                        <button v-if='mining' class="btn btn-success" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Mining in {{ seconds }} seconds..
                        </button>
                        <button v-if='mining' class="btn btn-danger" @click="mining = false;" onclick="clearInterval(mineClock);clearInterval(mineTimer);">Stop Mining</button>
                        <button class="btn btn-warning" @click="onResolve">Resolve Conflicts</button>
                        Total Votes: {{ votes }}
                    </h2>
                </div>
            </div>
            <hr>
            <!-- Chain/Tx Nav -->
            <div class="row mb-2">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'chain'}" href="#" @click="view ='chain';onLoadData();">Blockchain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'tx'}" href="#" @click="view = 'tx';onLoadData();">Open Transactions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Loading Active View -->
            <div class="row">
                <div class="col">
                    <div v-if="dataLoading" class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div v-if="!dataLoading" class="accordion">
                        <div class="card" v-for="(data, index) in loadedData">
                            <div v-if="view === 'chain'" class="card-header">
                                <h5 class="mb-0" data-toggle="collapse" :data-target="'#colbc' + data.index">
                                    <button class="btn btn-link" type="button">
                                        Block #{{ data.index }}
                                    </button>
                                </h5>
                            </div>
                            <div v-if="view === 'chain'" class="collapse" :id="'colbc' + data.index">
                                <div class="card-body">
                                    <p>Previous Hash: {{ data.previous_hash }}</p>
                                    <div class="list-group">
                                        <div v-for="tx in data.transactions" class="list-group-item flex-column align-items-start">
                                            <div>Node Id: {{ tx.nodeId }}</div>
                                            <div>Candidate Id: {{ tx.candidateId }}</div>
                                            <div>Party Id: {{ tx.partyId }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="view === 'tx'" class="card-header">
                                <h5 class="mb-0" data-toggle="collapse" :data-target="'#coltx' + data.index">
                                    <button class="btn btn-link" type="button">
                                        Transaction #{{ index }}
                                    </button>
                                </h5>
                            </div>
                            <div v-if="view === 'tx'" class="collapse" :id="'coltx' + data.index">
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item flex-column align-items-start">
                                            <div>Node Id: {{ data.nodeId }}</div>
                                            <div>Candidate Id: {{ data.candidateId }}</div>
                                            <div>Party Id: {{ data.partyId }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var mineClock,mineTimer,votingWindows = [];
        var app = new Vue({
            el: '#app',
            data: {
                blockchain: [],
                openTransactions: [],
                node: null,
                view: 'chain',
                nodeLoading: false,
                txLoading: false,
                dataLoading: false,
                error: null,
                success: null,
                votes: 0,
                showKeys: false,
                mining: false,
                seconds: 60,
                votingClosed: false
            },
            computed: {
                loadedData: function () {
                    if (this.view === 'chain') {
                        return this.blockchain;
                    } else {
                        return this.openTransactions
                    }
                }
            },
            methods: {
                createKeys: function () {
                    // Send Http request to create a new wallet (and return keys)
                    var vm = this
                    vm.nodeLoading = true;
                    axios.post('/node')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'New Keys Created!'
                            vm.node = {
                                public_key: response.data.public_key,
                                private_key: response.data.private_key,
                                node_id: response.data.node_id
                            }
                            vm.votes = response.data.votes;
                            vm.nodeLoading = false;
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                            vm.node = null;
                            vm.nodeLoading = false;
                        });
                },
                loadKeys: function () {
                    // Send Http request to load an existing wallet (from a file on the server)
                    var vm = this;
                    this.nodeLoading = true;
                    axios.get('/node')
                        .then(function(response){
                            vm.error = null;
                            vm.success = 'Keys Loaded!'
                            vm.node = {
                                public_key: response.data.public_key,
                                private_key: response.data.private_key,
                                node_id: response.data.node_id
                            }
                            vm.votes = response.data.votes;
                            vm.nodeLoading = false;
                            setInterval(() => {
                                vm.success = null
                            }, 3000);
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                            vm.node = null;
                            vm.nodeLoading = false;
                            vm.createKeys();
                        });
                },
                onMine: function() {
                    var vm = this
                    mineTimer = setInterval(function(){
                        axios.post('/mine')
                        .then(function(response){
                            vm.error = null;
                            vm.success = response.data.message;
                            vm.votes = response.data.votes;
                            vm.seconds = 60;
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                    },60000);
                    mineClock = setInterval(function(){
                        vm.seconds = vm.seconds - 1;
                        if(vm.seconds <= 0){
                            vm.seconds = 0;
                        }       
                    },1000);
                },
                onResolve: function(){
                    var vm = this
                    axios.post('/resolve-conflicts')
                    .then(function(response){
                        vm.error = null;
                        vm.success = response.data.message;
                    })
                    .catch(function(error){
                        vm.success = null;
                        vm.error = error.response.data.message;
                    });
                },
                onLoadData: function () {
                    if (this.view === 'chain') {
                        // Load blockchain data
                        var vm = this
                        this.dataLoading = true;
                        axios.get('/chain')
                            .then(function(response){
                                vm.blockchain = response.data;
                                vm.dataLoading = false;
                            })
                            .catch(function(error){
                                vm.dataLoading = false;
                                vm.error = 'Something went wrong.';
                            });
                    } else {
                        // Load transaction data
                        var vm = this
                        axios.get('/transactions')
                            .then(function(response){
                                vm.openTransactions = response.data;
                                vm.dataLoading = false;
                            })
                            .catch(function(error){
                                vm.dataLoading = false;
                                vm.error = 'Something went wrong.';
                            });
                    }
                },
                onResults: function () {
                    var vm = this
                    axios.post('/upload-attendence')
                        .then(function(response){
                            console.log(response);
                            vm.error = null;
                            vm.success = response.data.serverResponse;
                        })
                        .catch(function(error){
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                }
            }
        });
        app.loadKeys();
        app.onLoadData();

        function beginVoting() {
            var url = window.location.href;
            votingWindows.push(window.open(url + 'vote', '_blank'));
        }
        function closeVotingWindows() {
            for (let w = 0; w < votingWindows.length; w++) {
                votingWindows[w].close();
            }
        }
    </script>
</body>

</html>